.edit-button__icon {
    width: 7.5px;
    height: 7.5px;
    padding-top: 5.25px;
    padding-bottom: 5.25px;
    opacity: 100%;
}

@media (min-width: 900px) {
    .edit-button__icon {
        width: 10px;
        height: 10px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}
