.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    width: 100%;
    padding-bottom: 36px;
}

@media screen and (max-width: 900px) {
    .profile {
      flex-direction: column; 
    }
}