.edit-button {
    width: 24px;
    height: 24px;
    margin: 0;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px #ffffff solid;
    cursor: pointer;
    background-image: url(../../images/EditIcon.svg);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    flex-shrink: 0;
}

@media screen and (max-width: 900px) {
    .edit-button {
        width: 18px;
        height: 18px;
        background-size: 7.5px;
    }
}