.profile__profession {
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    text-align: center;
    margin: 0;
}

@media (min-width: 900px) {
    .profile__profession {
        text-align: left;
        font-size: 18px;
        line-height: 22px;
    }
}