.add-button {
    min-width: 150px;
    height: 50px;
    margin: 0;
    box-sizing: border-box;
    background-color: #000;
    border: 2px #ffffff solid;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .add-button {
        width: 100%;
    }
}
