.popup__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 48px;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .popup__form {
        padding-bottom: 45px;
    }
}