.popup__header {
    color: black;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    margin: 0;
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    padding: 34px 36px 54px;
    width: 430px;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .popup__header {
        max-width: 282px;
        padding: 25px 22px 75px;
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 75px;
    }
}