.divider {
    max-width: 880px; 
    height: 1px;
    background-color: #545454;
    border-width: 0;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .divider {
        width: 100%;
    }
}