.pop-up__box {
    background-color: #fff;
    border-radius: 10px;
    z-index: 1;
    height: 322px;
    box-sizing: border-box;
    padding: 25px 22px;
    max-width: 430px;
}

@media  (min-width: 900px)  {
    .pop-up__box {
        width: 430px;
        height: 330px;
        padding: 34px 36px 37px;
    }
}