.profile__name {
    font-size: 27px;
    line-height: 33px;
    font-weight: medium;
    text-align: center;
    margin: 0;
}

@media (min-width: 900px) {
    .profile__name {
        text-align: left;
        font-size: 42px;
        line-height: 48px;
        font-weight: medium;
    }
}