.add-button__icon {
    width: 16px;
    height: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 100%;
    transition: opacity 0.3s ease-in 0.05s;
}


.add-button__icon:hover {
    opacity: 60%;
}
