.feed__bigimg-popup {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
}