.feed__icon {
    width: 22px;
    height: 19px;
    cursor: pointer;
    border: none;
    background-image: url(../../../images/HeartStroke.svg);
    background-size: cover;
    background-color: transparent;
    padding: 0;
    margin: 0;
    transition: opacity 0.4s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
}

.feed__icon:hover {
    opacity: 0.5;
}